<div class="meniu">
    <button class="button"  >Home</button>
    <button class="button">Friends List</button>
    <button class="button">Your Pages</button>
    <button class="button">Your Groups</button>
    <button class="button">Marketplace</button>
</div>
<div class="line"></div>
<div class="meniu">
    <h4>Your shortcuts</h4>
    <button class="button">liked page 1</button>
    <button class="button">liked page 2</button>
    <button class="button">group 1</button>
    <button class="button">group 2</button>
</div>