.meniu{
    display: flex;
    flex-flow: column;
    width: 250px;
}

.button{
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.button:hover{
    background-color: rgb(236, 236, 236);
    color: transparent;
    box-shadow: 0 8px 16px 0 rgba(160, 160, 160, 0.2), 0 6px 10px 0 rgba(153, 153, 153, 0.19);
    color: black;
    cursor: pointer;
}

.line{
    border-bottom: 1px solid rgb(180, 180, 180);
    padding-bottom: 10px;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(211, 211, 211, 0.2), 0 6px 10px 0 rgba(204, 204, 204, 0.19);
    margin-left: 20px;
}
