<div class="meniu">
    <button class="button" type="button">
        <img src="../../../assets/kairinisMeniu-recources/home.png" width="25" heigth="30"> Home</button>
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/friends.png" width="25" heigth="30"> Friends List</button>
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/haunted.png" width="25" heigth="30"> Your Pages</button>
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/group.png" width="25" heigth="30"> Your Groups</button>
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/shop.png" width="25" heigth="30"> Marketplace</button>
</div>

<div class="line"></div>

<p style="margin-left: 30px;">Your shortcuts</p>

<div class="meniu">
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/rollerblade.png" width="25" heigth="30"> Liked page 1</button>
    <button class="button">
        <img src="../../../assets/kairinisMeniu-recources/music.png" width="25" heigth="30"> Liked page 2</button>

    <a href="a1"> <button class="button" >
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Profilis</button></a>
    <a href=""> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Pagrindinis</button></a>
    <a href="d1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Draugai</button></a>
    <a href="k1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Kairysis</button></a>
    <a href="s1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Story</button></a>
    <a href="z1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Zinutes</button></a>
    <a href="m1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Meniu</button></a>
    <a href="g1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Feedas</button></a>
    <a href="l1"> <button class="button">
            <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Login</button></a>
        <a> <button class="button">
                <img src="../../../assets/kairinisMeniu-recources/ghost.png" width="25" heigth="30">Paulius</button></a>

</div>