<div class="card about-componentas" style="width: 18rem;">
    <h3>Intro</h3>
    <button class="text-muted btn btn-light">Add Bio</button>
    <div class="card-body">
      
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-briefcase-fill"></i>  
        Works at <strong>MARIAU</strong>
        </p>
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-book-fill"></i>  
            Studied at <strong>REIK</strong>
        </p>
    
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-house-door-fill"></i>  
        Lives in <strong>TAVO</strong>
    </p> 
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-pin-fill"></i>  
        From <strong>VAIZDUOTĖS</strong>
    </p>
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-rss-fill"></i>  
        Followed by <strong>ČIA</strong>
    </p>
    </div>
  </div>
