<div class="card about-componentas" style="width: 30rem;">
    <h5 class="intro_text">Intro</h5>
    <button class="about_button text-muted btn btn-light">Add Bio</button>
    <div class="card-body">
      
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-briefcase-fill"></i>  
        Works at <strong>Bolseviko salos Desinios eketes beveik Direktorius</strong>
        </p>
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-book-fill"></i>  
            Studied at <strong>Grenlandijos ekeciu kolegijoj</strong>
        </p>
    
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-house-door-fill"></i>  
        Lives in <strong>Palmiu trobelej aukstai medyje prie didelio minuso</strong>
    </p> 
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-pin-fill"></i>  
        From <strong>Madagaskaras (keliavau i siaure, nes issukiu norejau)</strong>
    </p>
    <p class="about-tekstas card-subtitle mb-2">
        <i class="text-muted bi bi-rss-fill"></i>  
        Followed by <strong>Bill Gates, Mark Zuckerberg, Warren Buffen</strong>
    </p>
    </div>
    <button class="about_button text-muted btn btn-light">Edit details</button>
    <button class="about_button text-muted btn btn-light">Add Hobbies</button>
    <button class="about_button text-muted btn btn-light">Add Featured</button>
  </div>
