.card{
    width: fit-content;
}
.about-componentas{
    margin-top: 15px;
    border-radius: 7px;
    width: fit-content;
}
.intro_text{
    padding: 15px 20px;
    font-weight: 700;
}
.about_button{
    margin: 0 15px 20px 15px;
    font-weight: 500;
}
.card-body{
    padding-top: 0px;
}
.about-tekstas{
    font-size: 15px;
}
i{
    font-size: 20px;
}
