<div class="karkasas">

    <div class="sukurti">

        <img class="img" src="../../assets/img/create.jpg">

        <p class="create">Create story</p>

    </div>

    <div class="kortele">

        <img class="img" src="../../assets/img/pic1.jpg">

        <div class="asmuo"></div>

        <p>Story 1</p>

    </div>

    <div class="kortele">

        <img class="img" src="../../assets/img/pic2.jpg">

        <div class="asmuo"></div>

        <p>Story 2</p>



    </div>

    <div class="kortele">

        <img class="img" src="../../assets/img/pic3.jpg">

        <div class="asmuo"></div>

        <p>Story 3</p>

    </div>

    <div class="kortele">

        <img class="img" src="../../assets/img/pic4.jpg">

        <div class="asmuo"></div>

        <p>Story 4</p>

    </div>

    <button class="mgt">>

    </button>

</div>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>    
  </owl-carousel-o>