.karkasas{
    width: 700px;
    height: 220px;
    display: flex;
    background-color: #f7f7f7; 
    position: relative; 
}
.mgt{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 675px;
    top: 83px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    
}
.mgt:hover{
    background-color: rgb(240, 232, 232);
    
}

.sukurti {
    height: 200px;
    width: 120px;
    background-color: rgba(209, 208, 208, 0.938);
    margin: 10px;
    border-radius: 10px;
    position: relative;
    
}
.create{
    position: absolute;
    color: black;
    left: 23px;

}

.kortele {
    height: 200px;
    width: 120px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    text-align:center;
    color: white; 
    position: relative;
     
}
.kortele :hover, .sukurti :hover{

    transform: scale(1.03);
    opacity: 0.5;
    
}

.img{
    
    border-radius: 10px;
    border: none;
    height:200px; 
    width: 120px;
    
}
 p {
    position: absolute;
    top: 170px;
    left: 10%;
    font-size: 14px;
    font-weight: 600;  
}

