<div class="karkasas">
    <div class="sukurti">

        <button class="prideti">+</button>

        <p class="create">Create story</p>

        <img class="img" src="../../assets/img/create.jpg">


    </div>

    <div class="kortele">

        <div class="asmuo"></div>

        <p>Story 1</p>

        <img class="img" src="../../assets/img/pic1.jpg">

    </div>

    <div class="kortele">
        

        <div class="asmuo"></div>

        <p>Story 2</p>

        <img class="img" src="../../assets/img/pic2.jpg">

    </div>

    <div class="kortele">

        <div class="asmuo"></div>

        <p>Story 3</p>

        <img class="img" src="../../assets/img/pic3.jpg">

    </div>

    <div class="kortele">

        <div class="asmuo"></div>

        <p>Story 4</p>

        <img class="img" src="../../assets/img/pic4.jpg">
    </div>

</div>