

.sukurti {
    height: 200px;
    width: 120px;
    background-color: rgba(209, 208, 208, 0.938);
    margin: 10px;
    border-radius: 10px;
   
    
}
.create{

    color: black;
    top: 170px;
    left: 23px;

}

.kortele {
    height: 200px;
    width: 120px;
    background-color: gray;
    margin: 0px;
    border-radius: 10px;
    text-align:center;
    color: white; 
    position: relative;
     
}
.kortele :hover, .sukurti :hover{

    transform: scale(1.03);
    opacity: 0.5;
    
}

.img{
    
    border-radius: 10px;
    border: none;
    height:200px; 
    width: 120px;
    
}
 p {
    position: absolute;
    top: 150px;
    font-size: 14px;
    font-weight: 600;  
}
