<div class="card draugai-componentas" style="width: 30rem;">
    <div class="friend_title">
       <div class="draugai_header">
            <h5 class="draugai_text">Friends</h5>
            <div class="see-all-friends">
                <a href="#" class="all_friends"><p>See all friends</p></a>
            </div>
            
        </div> 
        <div class="friend_count text-secondary">
            <p>4 friends</p>
        </div>
    </div>
    
   
    <div class="card-body">
        <div class="draugas">
           <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/1_draugas.jpg" alt="">
           <a href="" class="nuoroda_draugas">
               <p class="draugo_vardas">Marytė Pelytė</p>
            </a>
        </div>
        <div class="draugas">
            <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/2_draugas.jpg" alt="">
            <a href="" class="nuoroda_draugas">
                <p class="draugo_vardas">Teta Beta</p>
            </a>
        </div>
        <div class="draugas">
            <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/3_draugas.webp" alt="">
            <a href="" class="nuoroda_draugas">
                <p class="draugo_vardas">Juozukas Kurmiukas</p>
            </a>
        </div>
        <div class="draugas">
            <img class="nuotrauka" src="./../../../assets/profilioPuslapis/4_draugas.jpg" alt="" >
            <a href="" class="nuoroda_draugas">
                <p class="draugo_vardas">Sergėtojas Žvirblis</p>
            </a>
        </div>
        
    
    </div>
    
</div>
