<div class="card draugai-componentas" style="width: 30rem;">
    <div class="draugai_header">
        <h5 class="Draugai_text">Friends</h5>
        <a href="#"><p>See all friends</p></a>
    </div>
    
    <div class="card-body">
        <div class="draugas">
           <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/1_draugas.jpg" alt="">
           <p class="draugo_vardas">Marytė Pelytė</p> 
        </div>
        <div class="draugas">
            <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/2_draugas.jpg" alt="">
            <p class="draugo_vardas">Teta Beta</p>
        </div>
        <div class="draugas">
            <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/3_draugas.webp" alt="">
            <p class="draugo_vardas">Juozukas Kurmiukas</p>
        </div>
        <div class="draugas">
            <img class="nuotrauka" src="./../../../assets/profilioPuslapis/4_draugas.jpg" alt="" >
            <p class="draugo_vardas">Sergėtojas Žvirblis</p>
        </div>
        
    
    </div>
    
</div>
