

.meniu {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  
    
}

.kairinisMeniu {
    display: flex;
    background-color: yellow;
   flex:1;
   
    
}

.centrinisMeniu {
    background-color: tomato;
    display: flex;
    flex:1;
    

}

.desninisMeniu {
    background-color: green;
    display: flex;
    
    flex:1;
    
}