<div class="meniu">

    


    <div class="kairinisMeniu">
        <button title="Home" class="button1">
            <a href="p1">
                <img src="../../../assets/IMGMeniu/29-290748_facebook-button-image-small-facebook-icon-png-transparent.png"
                    alt="Home" style="width: 50px;height: 50px ;"></a></button>
        <form class="paieskosForma">
            <input type="text" name="search" placeholder="Ieškokite sistemoje Fakebook"
                title="Ieškokite sistemoje Fakebook">
        </form>

    </div>

    <div class="centrinisMeniu ">
        
        <button title="Home" class="button">
            <div><a href="p1"><img src="../../../assets/IMGMeniu/namai.png" alt=""
                        style="width: 30px;height: 30px ;"></a></div>
        </button>
        <button title="Watch" class="button">
            <div><a href="lkn"><img src="../../../assets/IMGMeniu/video.png" alt=""
                        style="width: 30px;height: 30px ;"></a></div>
        </button>
        <button title="Marketplace" class="button">
            <div><a href="lkn"><img src="../../../assets/IMGMeniu/marketzenklas.png" alt=""
                        style="width: 30px;height: 30px ; "></a></div>
        </button>
        <button title="Groups" class="button">
            <div><a href="lkn"><img src="../../../assets/IMGMeniu/grupes.png" alt=""
                        style="width: 30px;height: 30px ;"></a></div>
        </button>
        <button title="Games" class="button">
            <div><a href="lkn"> <img src="../../../assets/IMGMeniu/zaidimai.png" alt=""
                        style="width: 30px;height: 30px ;"></a></div>
        </button>


    </div>

    <div class="desninisMeniu">

        <button title="manoPaskyra" class="manoPaskyra"> <input type="image"
                src="../../../assets/profilioPuslapis/profile_picture.jpg" class="manoPaskyraImg">
            <a href="a1"> manoPaskyra</a>
        </button>

        <button title="Meniu" class="button">
            <a href="lkn">
                <img src="../../../assets/IMGMeniu/meniu.png" alt="" style="width: 30px;height: 30px ; "></a></button>

        <button title="Messanger" class="button">
            <a href="lkn">
                <img src="../../../assets/IMGMeniu/messanger.png" alt=""
                    style="width: 30px;height: 30px ;"></a></button>

        <button title="Pranešimai" class="button">
            <a href="lkn">
                <img src="../../../assets/IMGMeniu/varpelis.png" alt="" style="width: 30px;height: 30px ;"></a></button>

        <button title="Paskyros keitimas" class="button">
            <a href="lkn">
                <img src="../../../assets/IMGMeniu/rodyklezemynimages.png" alt=""
                    style="width:30px; height:30px;"></a></button>


    </div>

</div>

<br>
<br>
<br>
