<div class="meniu">
    

        <div class="kairinisMeniu">

            <img src="../../../assets/IMGMeniu/29-290748_facebook-button-image-small-facebook-icon-png-transparent.png"
                alt="Home" style="width: 50px;height: 50px ;">
            
            <div>
                <form>
                    <input>
                </form>
            </div>


        </div>

        
    


    <div class="centrinisMeniu">

        <div><img src="../../../assets/IMGMeniu/namai.png" alt="" style="width: 30px;height: 30px ;"></div>
        <div><img src="../../../assets/IMGMeniu/video.png" alt="" style="width: 30px;height: 30px ;"></div>
        <div><img src="../../../assets/IMGMeniu/marketzenklas.png" alt="" style="width: 30px;height: 30px ; "></div>
        <div> <img src="../../../assets/IMGMeniu/grupes.png" alt="" style="width: 30px;height: 30px ;"></div>
        <div> <img src="../../../assets/IMGMeniu/zaidimai.png" alt="" style="width: 30px;height: 30px ;"></div>


    </div>






    <div class="desninisMeniu">
        <form>
            <input>
        </form>
        

        <img src="../../../assets/IMGMeniu/meniu.png" alt="" style="width: 30px;height: 30px ;">
        <img src="../../../assets/IMGMeniu/messanger.png" alt="" style="width: 30px;height: 30px ;">
        <img src="../../../assets/IMGMeniu/varpelis.png" alt="" style="width: 30px;height: 30px ;">
        <img src="../../../assets/IMGMeniu/rodyklezemynimages.png" alt="Paskyra" style="width:30px; height:30px;">



    </div>






</div>