.meniu {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 5px;
    z-index: 999;
}

.button {
    height: 40px;
    width: 50px;
    background-color: transparent;
    border: transparent;
}

.button:hover {
    background-color: white;
    color: transparent;
    box-shadow: 0 8px 16px 0 rgba(160, 160, 160, 0.9), 0 6px 10px 0 rgba(153, 153, 153, 0.5);
    color: black;
    cursor: pointer;
    border-radius: 100px;
}

.button1 {
    background-color: transparent;
    border: lightblue;
}

.kairinisMeniu {
    display: flex;
    background-color: white;
    flex: 1;
}

.paieskosForma {
    margin-top: 5px;
    margin-left: 0px;
}



input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 0.2px solid transparent;
    border-radius: 40px;
    border-color: lightblue;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 30px 8px 10px;
    -webkit-transition: width 0,9s ease-in-out;
    transition: width 2s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.centrinisMeniu {
    background-color: transparent;
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    margin-top: 10px;
}

.desninisMeniu {
    background-color: transparent;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 10px;
}

.manoPaskyra {
  
    display: flex;
    justify-content: space-between;
    flex: start;
    width: 180px;
    height: 35px;
    margin: 5px;
    border: 0.5px solid transparent;
    border-color: lightblue;
    border-radius: 30px;
    font-size: 14px;
    background-color: rgba(241, 233, 233, 0.507);
}

p.linkas {
    align-items: center;
}

.manoPaskyraImg {
    display: flex;
    margin-top: 2px;
    width: 30px;
    border-radius: 30px;
    border-color: black;
}

.manoPaskyra:hover {
    background-color: white;
    color: transparent;
    box-shadow: 0 8px 16px 0 rgba(160, 160, 160, 0.9), 0 6px 10px 0 rgba(153, 153, 153, 0.5);
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 40px;
    background-color: white;
    border-color: lightblue;
    color: transparent;
    box-shadow: 0 8px 16px 0 rgba(160, 160, 160, 0.9), 0 6px 10px 0 rgba(153, 153, 153, 0.5);
    color: black;
    cursor: pointer;
}

