<div class="meniu juosta">

    <div class="fZenkliukas">
        <img src="https://p.kindpng.com/picc/s/29-290748_facebook-button-image-small-facebook-icon-png-transparent.png" alt="Home" style="width: 50px;height: 50px ;">
        <form>
            <input>
        </form>
    </div>

    <div class="flex-container">
        
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSftUgf85eWgUrzWYnb12YcSu3zhg8yoezNgQ&usqp=CAU" alt="" style="width: 30px;height: 30px ;"></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrpW97aMRHnWkiIc3dTa0i15wF-OOlJ6dWYA&usqp=CAU" alt="" style="width: 30px;height: 30px ;"></div>
        <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAe1BMVEX///8AAADLy8szMzNjY2Obm5svLy/Pz88HBwcYGBjExMTn5+cICAhnZ2f6+vq8vLwgICCenp4QEBBycnImJibb29u2trbz8/NKSkrt7e2vr6+Ojo5aWlo/Pz+Dg4MpKSlubm56enpMTEypqamSkpI5OTlcXFyHh4dDQ0PzNj45AAAFC0lEQVR4nO2dZ3ubMBSF7biOMWDwwit4
            4fn/f2EdSYwgKZFuWH163k9t5YPvkUDjSsW9HgAAAAAAAAAAAAAAAID/iuitQ0RkG96+3yn2W6KRuO3Iy8TEBmk7bgmH1iQfbcctcyUZeW87bJkBxcdIaDsCj4bScy2Yck+pgzrgPejZXhiMmXJYfUg0hiycqb1wxYTEfqIG1j4LKLQW8kGE2HPXAQ/obisTFbCrIyQa/Bbx15ayGZPNg1piIiEe2pmljHcSk1pCIsK70aedKOLdtltPSDTEwOZZiQ7Uzq5O+FTjYaVZUoefOuGTv6ONxKVPCGpET
            MffLCQT+hStTjYsrJO5IJgzxUddAVG52I4JO0r/0ADrueUonVB67CaY2M2btg5pDG0A124me6XNappgarW2GHRt4pvDB+qb2YfF9GRVb0g0IpsB7sw+O+7QxLeAxYo3mNoOO01iseIN+/8AJiveQdtBmvBuYMRpO0gj/icjx7ZjNMLAyJ+2YzTC2IjBB1viHUY6Box0DRjpGjDSNWCka1RixJvtNCvgYDfT5fOoIk0Wpwoju9cUf6BMKm1fl/fV6QqyaKxeBlZghGcsF6qi02eJMin7C5GvbK4KjL
            yxEmWOnl99VK1Ines0NsLqqa+6QXlaYqkS8cyLaqfuFyL1dgBT+drwc3gyT7WbwlOpjuJeCPQ1SBLxpI9yL5arTPJBF21liINoiioUNajazf+NSLXLxlWb7z0w+AaXIt+y9bX1JJbHc/mGJInEaQXl83NnBQcDI+Jpukj/vhBXd6TOJEozL/KOq4FIDuogSvqJVCRURvvmfPN0XP5mN7263K7PtMQvZ5dJolGekSpXZ8Bzv8q+Q0JscN2+Nnk0zq5eziEv8pKl93uRt8yL/FKnw7tU0yOBD/7pQbG
            m3EJIrzu+0AkFk2LJkiKaFp+F0bJYNC9uGK7v4vOGOwWBOM3oP9JG8bLvFa3+ns0sVqWEnn+QRf2fRM45ncOsD+VM5z2rml1q0XjrJkp7jfnzPnNXH5vs4vEq/dPxfHHdyyKvvo80++3Hw/CL6PbQiZxL2mZ+cg3dcBj7mSg/5Pp8rFx3dpqmf1fOd9SEmgTwPkjHKolTz5uqS6Zer9w2KbPeaK4VnTWixGYLKvRVl9h83jVqJ6fPhlyqStijfNL4eD0SY1UJEx1UJf3YbittpMhln/klQvmrHb7P
            uk1kUcLv/qHcxmKa7j21op2iuewOB71Yn0uNMsgGoW35Tnlmz+OsZHKczaSiTUl0z9YoQ63Iu5dEN9Vc+Se8opXnl54iOuV15STFBdD6WjjAfbwWxyI3f5L780lkJoomxVahHt7ls6FlsrhIK7wgPMT7wT45yyvSaDjZ3G6byVDaRF7vzp+i+BBK97lexL7pxuuA0h65kU6cYdYvwkyAkeqBEQaMVA+MMGCkemCEASPVAyMMGKkeGGHASPXACANGqgdGGDQj2zpeDdKCkYfRCWjbV4M0b2T1XfgFL
            P+fTfNGdDsIZRy7UJo3YnyQ2y4UGCkERTEy/fnNIHahtGXkWw2MwAiMwIgWGDENiqKBERiBERjRAiOmQVE0MAIjMAIjWmDENCiKBkZgBEZgRAuMmAZF0cAIjMAIjGiBEdOgKBoYgREYgREtMGIaFEUDIzBifGSpKWCk7cDLUI0sfr50s1B/tWLUsXf/0n9boPzaj1bx4878FhUAAAAAAAAAAAAAAAB0nL8K2lFtAzwRRwAAAABJRU5ErkJggg==" alt="" style="width: 30px;height: 30px ;"></div> 
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYNssd6lD-h71QIbTFZrZ7N4_8ihtHN-qUVw&usqp=CAU" alt="" style="width: 30px;height: 30px ; "></div>
        <div> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAM1BMVEUAAAD///+WlpaTk5OdnZ2KiorJycn4+PjX19eOjo5gYGBYWFjFxcVeXl4ODg6Hh4dFRUX+W7xXAAACJElEQVR4nO3by3LCMAxGYSCGhEAv7/+07SrdNO3vi2wpnLMXo28mE7KwT+ejdxq9gHkI44cwfgjjhzB+COOHMH4I44cwfgjjhzB++8IlXeKUlmzh/HaK1TpnCtfRG2e
            35gmX0fsWtPOg7gjT6HULSlnCy+h1C7ogROg+hAj9hxCh/xAi9B9ChP5DiNB/CBH6DyFC/yFE6D+ECP2HEKH/ECL0H0KE/kOI0H8IEfoPIUL/TX2Ej+s0qPuth/D9+fvPjayt0CGwrfDRd3etpsJr3921mgp33mZjQ4jwVYW3+0H/8TfhVDReWY+vtqluvLIeX94IbUOIUAmhbQgRKiG0DSFCJYS2IUSohNA2hAiVENqGEKESQtsQIlRCaBtChEoIbUOIUAmhbQgRKiG0DSFCJYS2IUSohNC2rsIh5
            7y7CivO6n98hhBW9Ty8sJQYSHh+HF54dStsdf+w7FXcQ9jqDqlfYat7wI6Fje5yOxZW3cf/uV7nWlhT5UdfAOG2IsJ/xhEitAuhOo4QoV0I1XGECO1CqI4jRGgXQnUcIUK7EKrjCBHahVAdR4jQLoTqOEKEdiFUxxEitAuhOo4QoV0I1XGECO1CqI4jfBFharx83oplwpQlXBovL1UpXLKE57Xx9kp1wnVHsiecBxC3c973guF1zhR+P6jp0rdpO6t/m3Jn084j+qfwKCGMH8L4IYwfwvghjB/C+CG
            MH8L4IYwfwvgdX/gF58Rc9jY88BUAAAAASUVORK5CYII=" alt="" style="width: 30px;height: 30px ;">
        </div>
      </div>




    

    <div class="desninisMeniu">
       
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnRjgOcha_88AqBalGiM874zb1dyRa8-4p-g&usqp=CAU" alt="" style="width: 30px;height: 30px ;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTst9n5rq0WvIzmIenPlSGNvHzCx8cYYQVb4Q&usqp=CAU" alt="" style="width: 30px;height: 30px ;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc79x45ur9TnElvyEUF9KNwxugUcFHlBbKhA&usqp=CAU" alt="" style="width: 30px;height: 30px ;">
       
        <img src="/src/assets/IMG Meniu/rodykle zemyn images.png" alt="Paskyra" style="width:30px; height:30px;">
        


    </div>
    





</div>


