<!-- <div class="skirtukas"></div> -->

<div class="backgroud">
  <div class="p-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">

          <!-- Profilio nuotraukos divas -->
        <div class="profilio-nuotrauka">
            <a href="#" class="d-flex flex-row link-secondary text-decoration-none">
              <i class="bi bi-person-circle"></i>
            </a>
          </div>

          <!-- Input fieldo divas -->
        <div class="input-laukelis">
            <form class="">
                <input
                    type="text"
                    size="405"
                    class="form-control" 
                    placeholder="What's on your mind?"
                    (keyup.enter)=getVal($event)>
              </form>
        </div>

      </div>
      <hr>
     <!-- Spalvoti mygtukai -->
        <div class="mygtukai">
          <div class="mygtuko_hoveriui">
            <div class="vaizdo-transliacija mygtukas-atskiras">
                <i class="bi bi-camera-video-fill"></i>
                <span class="mygtuko-tekstas">Tiesioginė vaizdo transliacija</span>
                
            </div>
          </div>
            
            <div class="mygtuko_hoveriui">
              <div class="nuotrauka mygtukas-atskiras">
                <i class="bi bi-images"></i>
                <span class="mygtuko-tekstas">Nuotrauka / vaizdo įrašas</span>
            </div>
            </div>
            
        </div>
        
      
    </div>
</div>
</div>

  <!-- <div class="skirtukas"></div> -->
