
<div class="profilio_headeris">
        <div class="coverioNuotrauka">
        <div class="cover_nuotrauka_container">
            <img class="cover__nuotrauka" src="./../../../assets/profilioPuslapis/cover.jpg" alt="cover photo">
        </div>
        
        <button class="cover__mygtukas btn btn-light"><i class="bi bi-camera-fill"></i>   Edit Cover Photo</button>
        <img class="profilio_nuotrauka_img" src="./../../../assets/profilioPuslapis/profile_picture.jpg" alt="Profilio nuotrauka">
    <div class="profilis_vardas">
        <h2>
           Gudragalvis Begalvis Slibinas 
        </h2>
        
        </div>
    <div class="vardo_mygtukai">
        <button class="btn btn-primary cover_vardo_mygtukai"><i class="text-light bi bi-plus-circle-fill"></i>Add a Story</button>
        <button class="btn btn-light cover_vardo_mygtukai"><i class="text-dark bi bi-pencil-fill"></i>Edit Profile</button>
    </div>
    </div>
    <div class="line">
        <hr>
    </div>
    <nav class="navigacija">
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active text-secondary" aria-current="page" href="#">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">About</a>
          </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Story Archive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Videos</a>
        </li>
        <li class="nav-item dropdown">
          <a 
          class="nav-link dropdown-toggle text-secondary" 
          data-bs-toggle="dropdown" 
          href="#" 
          role="button" 
          aria-expanded="false"
          >More</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Check-ins</a></li>
            <li><a class="dropdown-item" href="#">Sports</a></li>
            <li><a class="dropdown-item" href="#">Music</a></li>
            <li><a class="dropdown-item" href="#">Films</a></li>
            <li><a class="dropdown-item" href="#">TV Programmes</a></li>
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="#">Likes</a></li>
            <li><a class="dropdown-item" href="#">Events</a></li>
            <li><a class="dropdown-item" href="#">Questions</a></li>
            <li><a class="dropdown-item" href="#">Reviews given</a></li>
            <li><a class="dropdown-item" href="#">Groups</a></li>
            <li><a class="dropdown-item" href="#">Manage Sections</a></li>
          </ul>
        </li>
      </ul>
    </nav>   
       
        
</div>
    

