<div class="main">
  <div>

  </div>


  <div class="box">
    <br>
    <div><input widthtype="text" class="form-control" placeholder="Username:"></div>
    <br>
    <div><input widthtype="text" class="form-control" placeholder="Password:"></div>
    <br>
    <button class="btnLogin">Log in</button>
    <a href="reset password">Forgot Password?</a>
    <div class="line"></div>
    <br>
    <button class="btnRegister">Create New Account</button>
    <br>
  </div>

<div class="leftLogo">
  <img src="../../../assets/kairinisMeniu-recources/fakebook logo2.png" alt="">
  <br>
  <h5>Internetuose būk tuo, kuo nori būti! Pakviesk į draugus kaimyną ir močiutę</h5>
</div>


</div>




