.login{
    background-color: rgb(234, 234, 236);
    border-radius: 10px;
    text-align: center;
    height: 700px;
    width: 100%;
    padding: 170px;
}

.header{
font-size: 30px;
margin-left: -170px;
}

p{
    margin-left: -170px;
}

input{
    width: 250px;
    margin: auto;
    display: flex;
    transition-duration: 0.5s;
}

.btnLogin{
    background-color: rgb(36, 160, 237);
    border-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    color: white;
    transition-duration: 0.2s;
}

.btnRegister{
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    transition-duration: 0.5s;
}

.btnLogin:hover{
    background-color: rgb(19, 131, 201);
}

.btnRegister:hover{
    text-decoration: underline;
}

a{
    margin: auto;
} 
