<div class="background">
    <div class="profilio_headeris">
        <div class="coverioNuotrauka">
        <div class="cover_nuotrauka_container">
            <img class="cover__nuotrauka" src="./../../../assets/profilioPuslapis/cover.jpg" alt="cover photo">
        </div>
        
        <button class="cover__mygtukas btn btn-light"><i class="bi bi-camera-fill"></i>   Edit Cover Photo</button>
        <img class="profilio_nuotrauka_img" src="./../../../assets/profilioPuslapis/profile_picture.jpg" alt="Profilio nuotrauka">
    </div>
        <div class="profilis_vardas">

        </div>
        
           
        
    </div>
    

</div>

  