
<div class="background">
    <app-meniu></app-meniu>
    <div class="coverio_divas">
        <div class="container-fluid pagrindinis-containeris">
            <button class="mygtukas-pajudam btn btn-warning" (click)="pajudam()">Prasukti</button>
        <app-profilio-coveris></app-profilio-coveris>

   
    </div>
    <div class="antras_lygis container-fluid">
        <div class="kairinis">
             <app-profilis-about></app-profilis-about>
             <app-profilio-nuotraukos></app-profilio-nuotraukos>
             <app-profilio-draugai></app-profilio-draugai>
             <p class="copyright text-secondary">
                Privacy  · Terms  · Advertising  · Ad choices   · Cookies   · Fakebook © 2021
             </p>
             
        </div>
        <div class="desininis">
            <app-zinutes-ivedimas></app-zinutes-ivedimas>
            <app-feedas></app-feedas>
        </div>
       
        

    </div>
     
    </div>
    
    
</div>
