*{
    margin: 0!important;
    box-sizing: border-box;
    padding: 0
}
.pilkas-backgroundas{
    position: absolute;
    /* background-attachment: scroll; */
    overflow: auto;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: rgb(240,242,245)
}