<div class="container-fluid">
    <div class="pilkas-backgroundas">
    <div class="row_navigacija">
        <app-meniu></app-meniu>
    </div>
    <div class="row">
        <div class="col-2">
            <app-kairinis-meniu></app-kairinis-meniu>
        </div>
        <div class="col-4">
            
                <app-story-meniu></app-story-meniu>
                <app-zinutes-ivedimas></app-zinutes-ivedimas>
                <app-feedas></app-feedas>
            
        </div>
        <div class="col-2">
            <app-draugu-sarasas></app-draugu-sarasas>
        </div>
    </div>
    </div>
</div>