<div class="card photos-componentas" style="width: 30rem;">
    <div class="photos_header">
        <h5 class="photos_text">Photos</h5>
        <div class="all-photos-container">
          <a href="#" class="all_photos"><p>See all photos</p></a>
        </div>
        
    </div>
    
    <div class="card-body">
      <img class="nuotrauka virsutine" src="{{nuotrauku_sarasas[0]}}" alt="">
      <img class="nuotrauka virsutine" src="{{nuotrauku_sarasas[1]}}" alt="">
      <img class="nuotrauka virsutine" src="{{nuotrauku_sarasas[2]}}" alt="">
      <img class="nuotrauka" src="{{nuotrauku_sarasas[3]}}" alt="" >
      <img class="nuotrauka" src="{{nuotrauku_sarasas[4]}}" alt="" >
      <img class="nuotrauka" src="{{nuotrauku_sarasas[5]}}" alt="" >
      <img class="nuotrauka" src="{{nuotrauku_sarasas[6]}}" alt="" >
      <img class="nuotrauka" src="{{nuotrauku_sarasas[7]}}" alt="" >
      <img class="nuotrauka" src="{{nuotrauku_sarasas[8]}}" alt="" >
    
    </div>
    
</div>

