<div class="card photos-componentas" style="width: 30rem;">
    <div class="photos_header">
        <h5 class="photos_text">Photos</h5>
        <a href="#"><p>See all photos</p></a>
    </div>
    
    <div class="card-body">
      <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/1_photos.jpg" alt="">
      <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/2_photos.jpg" alt="">
      <img class="nuotrauka virsutine" src="./../../../assets/profilioPuslapis/3_photos.png" alt="">
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/4_photos.jpg" alt="" >
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/5_photos.jpg" alt="" >
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/6_photos.jpg" alt="" >
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/7_photos.jpg" alt="" >
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/8_photos.jpg" alt="" >
      <img class="nuotrauka" src="./../../../assets/profilioPuslapis/9_photos.jpg" alt="" >
    
    </div>
    
</div>

