<div class="linija"></div>
<div class="visasElementas">
    <div class="valdymas">
        Kontaktai ieskant supratingumo
        <div class="islyginimas">
        <div>            
                <button title="Susijunkime ir pabendraukime" class="mygtukasSusidraugaukim"> <i
                        class="bi bi-broadcast"></i>  </button></div>
            <div class="search-container">
                <input type="text" name="search" placeholder="Search..." class="search-input">
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                </a>
                    </div>
                    <button title="Nustatymai" class="mygtukasTritaskis"><i class="bi bi-three-dots"></i></button>
    </div>
</div>

    <div class="sarasas">
        <p>Vinetu Indenas</p>
        <p>Secherezada Naktinetoja</p>
        <p>Donaldas Antinas</p>
        <p>Mauglis Nugaletojas</p>
        <p>Balu Rudoji</p>
        <p>Gargamelijus Didzianosis</p>
        <p>Tiesiog Tarzanas</p>
        <p>Trecias brolis Jonas</p>
        <p>Krankliai Zalieji</p>
        <p>Miskine Raudonoji Kepuraite</p>
        <p>Vilkas Siaubunas</p>
        <p>Dydisis Smurfas</p>
        <p>Homeris Isskirtinasis</p>
        <p>Mazapedis Sniegazmogis</p>
        <p>Snieguole Juodoji</p>
        <p>Grazuole Bepabaise</p>
        <p>Princas Bezirgis</p>
        <p>Garbaninis Batuotas Suo</p>
        <p>Akiniuota Vistele</p>
        <p>Undinele Sausumine</p>
        <p>Srekas ir taskas</p>
        <p>Mike Melagelis</p>
        <p>Karlsonas Plonasis</p>
        <p>PANELE FREKENBOK</p>
        <p>Karaliene Pelene Trecioji</p>
        <p>Gudragalvis Begalvis Slibinas</p>


    </div>
</div>