<div class="linija"></div>
<div class="visasElementas">
    <div class="valdymas">
        Kontaktai ieskant suprantigumo
        <div> <button title="Susijunkime ir pabendraukime" class="mygtukasSusidraugaukim"><i class="bi bi-broadcast"></i></button>
            <button title="Susirask drauga" class="mygtukasPaieska"><i class="bi bi-search"></i></button>
            <button title="Nustatymai" class="mygtukasTritaskis"><i class="bi bi-three-dots"></i></button>
        </div>
    </div>


<div>
    <p>Vinetu Indenas</p>
    <p>Secherezada Naktinetoja</p>
    <p>Donaldas Antinas</p>
    <p>Mauglis Nugaletojas</p>
    <p>Balu Rudoji</p>
    <p>Tiesiog Tarzanas</p>
    <p>Trecias brolis Jonas</p>
</div>
</div>
