<div class="linija"></div>
<div class="visasElementas">
    <div class="valdymas">
        <b>Kontaktai ieskant supratingumo</b>
        <div class="islyginimas">
            <div>
                <button title="Susijunkime ir pabendraukime" class="mygtukasSusidraugaukim"> <i
                        class="bi bi-broadcast"></i> </button>
            </div>
            <div class="search-container">
                <input class="search-input" type="text" placeholder="Search..." [(ngModel)]="searchText" >
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <button title="Nustatymai" class="mygtukasTritaskis"><i class="bi bi-three-dots"></i></button>
        </div>
    </div>

</div>
<div class="sarasas" *ngFor="let x of Vartotojas | filter:searchText">

<p class = "draugas"><i style="color: rgb(255, 153, 0);" class="bi bi-emoji-smile-upside-down"></i>&nbsp;{{ x.Vardas }} {{ x.Pavarde }}</p>
</div>

    
