
    

.laikinasPuslapis{
    margin-left: 150px;
    background-image: url(../../../assets/laikinasPuslapis/SeekPng.com_website-under-construction-png_668689.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
    width: 80vw;




}


