
    

.laikinasPuslapis{
    margin-left: 150px;
    background-image: url(../../../assets/laikinasPuslapis/SeekPng.com_website-under-construction-png_668689.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;




}

.statybuFoto{
   

    
}
