.container{
    display: grid;
    grid-template-columns:max-content;
    grid-template-rows: max-content;
}
.item__kairinis{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}